fastapi==0.128.0
uvicorn==0.42.0
httpx
pydantic
python-dotenv
duckduckgo-search
requests
sqlmodel
chromadb==1.1.1
loguru
pydantic-settings
slowapi==0.1.9
sse-starlette==2.1.3
xgboost>=2.0.3
scikit-learn>=1.5.2
vaderSentiment==3.3.2
numpy>=1.26.4
pandas>=2.2.2
matplotlib>=3.8.0
joblib
shap
redis>=5.0.1
